<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">{{ title }}</a>
</nav>

<div class="row">
  <div class="col-md-6">
    <div class="container mt-2">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="myForm">
            <div class="form-group">
              <label>Title</label>
              <input type="text" formControlName="title" class="form-control" />
            </div>
            <div class="form-group">
              <label>Description</label>
              <input
                type="text"
                formControlName="description"
                class="form-control"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onCreate(myForm)"
              *ngIf="!editMode"
            >
              Add
            </button>
            <button
              type="button"
              class="btn btn-primary"
              (click)="onUpdate(myForm)"
              *ngIf="editMode"
            >
              Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container mt-2">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
            <td>{{ data.title }}</td>
            <td>{{ data.description }}</td>
            <td>
              <button class="btn-secondary">
                <i class="las la-edit" (click)="toUpdate(data)"></i>
              </button>
              &nbsp;
              <button class="btn-secondary">
                <i class="las la-trash-alt" (click)="onDelete(data.id)"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
